pip==25.0.1
chroma-hnswlib==0.7.6
chromadb==0.6.3
flask
gitdb 
GitPython 
gradio==5.23.1
gradio_client==1.8.0
groq==0.20.0
huggingface-hub==0.30.1
importlib-metadata 
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==8.31.0
itemadapter 
itemloaders 
joblib 
json5 
jsonpatch 
jsonpointer==2.1
jsonschema
jsonschema-specifications 
jupyter 
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
kubernetes==32.0.1
langchain==0.3.22
langchain-community==0.3.20
langchain-core==0.3.49
langchain-groq==0.3.1
langchain-text-splitters==0.3.7
linkify-it-py
llvmlite
lmdb 
locket 
lxml==5.2.1
Markdown
markdown-it-py 
MarkupSafe 
matplotlib==3.9.2
matplotlib-inline==0.1.7
mpmath 
mypy 
mypy-extensions 
navigator-updater 
notebook 
numpy 
numpydoc 
orjson==3.10.16
overrides 
packaging==24.2
pandas 
pickleshare 
plotly 
PySocks
pytest 
python-dateutil==2.9.0.post0
python-dotenv 
python-json-logger 
python-lsp-black
python-lsp-jsonrpc 
python-lsp-server 
python-multipart==0.0.20
python-slugify 
QDarkStyle 
qiskit==1.4.2
qiskit-aer==0.17.0
qstylizer 
qtconsole 
QtPy 
queuelib 
readchar 
referencing
regex
requests 
safetensors==0.5.3
scikit-image 
scikit-learn
scipy
seaborn 
semantic-version==2.10.0
sentence-transformers==4.0.1
setuptools==75.1.0
stack-data==0.6.3
streamlit 
torch==2.6.0
transformers==4.50.3
wheel==0.44.0
yapf 

